<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#33b5e5">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="/demos/css/compiled-4.6.1.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/demos/js/jquery.validate.min.js" ></script>
        <script src="https://malsup.github.com/jquery.form.js"></script>

    </head>
    <body class="fixed-sn mdb-skin-custom " data-spy="scroll" data-target="#scrollspy" data-offset="15" aria-busy="true">
        <header>
            <!-- Sidebar navigation -->
            <div id="slide-out" class="side-nav sn-bg-4 mdb-sidenav fixed" style="transform: translateX(-100%);">
                <ul class="custom-scrollbar list-unstyled ps ps--theme_default ps--active-y" style="max-height:100vh;" data-ps-id="cce8cd94-9009-61e9-f166-92b373a900a8">
                    <!-- Logo -->
                    <li class="logo-sn d-block waves-effect">
                        <div class="text-center">
                            <a class="pl-0" href="/">
                                Virtual Classroom
                            </a>
                        </div>
                    </li>
                    <!--/. Logo -->
                    <!--Search Form-->
                    <li>
                        <form class="search-form" onkeypress="return event.keyCode != 13;" role="search" method="GET" autocomplete="off">
<!--                            <div class="form-group md-form mt-0 d-block waves-light waves-effect waves-light">
                                <input type="text" class="form-control pb-1 mb-0" name="mdw_serach" placeholder="Search" id="mdb_main_search" style="height: 1.8rem;">
                                <label for="mdb_main_search" class="sr-only active">Search</label>
                            </div>-->
                            <div class="dropdown-wrapper"></div>
                        </form>
                    </li>
                    <!--/.Search Form-->
                    <!-- Side navigation links -->

                    <li>
                        <ul id="side-menu" class="collapsible collapsible-accordion">
                            <li id="menu-item-44502" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-44502">
                                <a class="collapsible-header waves-effect" id="link-menu-item-44502" href="/users/profile"><i class="far fa-user"></i>Profile</a>
                            </li>
                            <!--<li id="menu-item-59439" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59439"><a class="collapsible-header waves-effect" href="/users/attendees"><i class="fas fa-users"></i>Attendees</a></li>-->
                            <li id="menu-item-594329" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59439">
                                <a class="collapsible-header waves-effect arrow-r" href="/users/classes"><i class="fas fa-chalkboard-teacher"></i>Classes</a>
                            </li>
                            <li id="menu-item-594329" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59439">
                                <a class="collapsible-header waves-effect arrow-r" href="/users/uploads"><i class="fas fa-upload"></i>Uploads</a>
                            </li>
                            
                            <li id="menu-item-343234" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59439">
                                <a class="collapsible-header waves-effect arrow-r" href="/users/recordings"><i class="fas fa-microphone"></i>Recordings</a>
                            </li>

                        </ul>    
                    </li>
                    <!-- /. Side navigation links -->
                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; height: 205px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 52px;"></div></div></ul>
                <div class="sidenav-bg mask-strong"></div>
            </div>

            <!-- Navbar-->
            <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
                <!-- SideNav slide-out button -->
                <div class="float-left">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i><span class="sr-only" aria-hidden="true">Toggle side navigation</span></a>
                </div>
                <!-- Navbar links-->
                <div class="mr-auto pl-2">
                    <span class="d-none d-lg-inline-block">
                        <strong> Virtual Class Room</strong>
                        <!-- Dynamic content wrapper -->
<!--                        <span id="dynamicContentWrapper-mainNavbar" class="dynamic-content">
                            <a alt="Dynamic: Pro" id="navbar-jquery-dynamic-pro" class="btn btn-danger btn-sm my-0" href="/users/profile" role="button">
                                <span class="d-none d-lg-inline-block mr-1">Home</span><i class="far fa-gem"></i>
                            </a>
                        </span>-->

                        

                    </span>
                </div>

                <!--Navigation icons-->
                <ul class="nav navbar-nav nav-flex-icons ml-auto">


<!--                    <li class="nav-item">
                        <a href="/contact" data-toggle="modal" data-target="#contactForm" class="nav-link waves-effect">
                            <i class="fas fa-envelope"></i><span class="sr-only">Contact us</span>
                        </a>
                    </li>-->

                    <!-- <li class="nav-item ">
                      <a href="/profile/?id=52770#messages" class="nav-link waves-effect headerNotifCountBadge">
                        <i class="fas fa-comments"></i><span class="sr-only">Direct messages</span>
                      </a>
                    </li> -->

                    <!-- Tools -->
<!--                    <li id="navbar-static-tools" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-wrench"></i><span class="d-none d-lg-inline-block ml-1">Tools</span></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
                            <a class="dropdown-item waves-effect waves-light" href="">Support</a>

                        </div>
                    </li>-->

                    <!-- Login / register -->
                    <!-- My account -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect" href="#" id="navbar-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="user avatar" src="https://secure.gravatar.com/avatar/8ead8e2216a56a69b23ea8ab91b550e0?s=24&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/8ead8e2216a56a69b23ea8ab91b550e0?s=48&amp;d=mm&amp;r=g 2x" class="avatar avatar-24 photo rounded-circle z-depth-0" height="24" width="24">   
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="userDropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">    
                            <a id="navbar-static-profile" class="dropdown-item waves-effect waves-light" href="/users/profile">My profile</a>
                            <a id="navbar-static-settings" class="dropdown-item waves-effect waves-light" href="/users/profile/setting">Settings</a>
                            <a id="navbar-static-logout" class="dropdown-item waves-effect waves-light" href="/users/logout">Log Out</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /.Navbar-->
            <div class="card card-intro sky-gradient">

            </div>
        </header>

